*{
  margin:0px;
  padding:0px;
}

body{
  width:100%;
  height:100vh;
  background-color: burlywood;

}
.container{
  height:100%;
  /* width:100%; */
  /* background-color: rgb(87, 180, 230); */
  display:flex;

}

.left_box{
  height:100%;
  width:50%;
  background-color:white;
  display:flex;
  flex-direction: column;
}

.right_box{
  height:100%;
  width:50%;
  background-color:#0C0C0C;
  border-left: 2px solid #0d10cd;
}

.code_box{
  height:100%;
  width:100%; 
  /* background-color:#0d10cd; */
  /* gap:2%; */
  border:2px solid #0d10cd;
}

.left_box .code_box textarea{
  width:100%;
  height:75%;
  background-color: #0c0c0c;
  padding: 10px;
  border:none;
  outline: none;
  color: white;
}

.left_box .code_box label{
  background-color: #0C0C0C;
  color:white;
  display:block;
  padding: 5px 0px;
  height:10%;
}

.right_box iframe{
  display: block;
  width:100%; 
  height:90%;
  border:none;
}

.right_box label{
  background-color:#0d10cd;
  color:white;
  display:block;
  padding:5px;
}
